<div class="textwidget margin-top-30">
  <p>No matter what you're craving, <em><strong>Restaurant to Room</strong></em> 
  has you covered. Our fast and friendly delivery service brings you hot, fresh 
  food, from a diverse choice of local restaurants.</p>
  <p>Simply create an account to get started, select items from a menu, and 
  we'll have food delivered directly to your room, within an hour, or your 
  meal is free. The only difficult part is choosing. (Sorry, we can't help 
  you with that.)</p>
</div>
<div class="widget">
  <form name="create-user-form" id="create-user-form" method="post">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" id="firstName" name="firstName" required value="{{input.firstName}}" />
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" id="lastName" name="lastName" required value="{{input.lastName}}" />
    </div>
    <div class="form-group">
      <label for="roomNumber">Room number</label>
      <input type="text" id="roomNumber" name="roomNumber" required value="{{input.roomNumber}}" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required value="{{input.email}}" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" autocomplete="off" required />
    </div>
    <div class="form-submit">
      <input type="submit" value="Create my account" />
    </div>
    <span style="color:red;">{{error}}</span>
  </form>
</div>